<h3>Formulaire d'inscription</h3>
<h4>Votre nom complet est: {{nomcomplet}}</h4>Votre nom complet est: 
<label>
  Prenom:
  <input type="text" [formControl]="prenom">
</label>
<br>
<label>
  Nom:
  <input type="text" [formControl]="nom">
</label>
<br>
<p>
<button (click)="termine()">Terminé</button>
</p>
<p> Informations saisies:</p>
<ul>
	<li>Prénom:{{prenom.value}}</li>
	<li>Nom:{{nom.value}}</li>
</ul>